<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1 my-5">

    <!--cards-->
      <div class="row">
        <div class="col-sm-3 mt-2 col-12" *ngFor="let pokemon of pokemonList">
          <app-cards [name]="pokemon.name | titlecase" [number]="pokemon.id" (numberPokemon)="onePokemon($event)"
            data-bs-toggle="modal" data-bs-target="#pokemonModal"></app-cards>
        </div>
      </div>

    <!--paginator-->
      <div class="row mt-5">
        <div class="col-12">
          <app-paginator [currentPage]="currentPage" (pageChange)="pageChange($event)">
          </app-paginator>
        </div>
      </div>

    <!--modal-->
      <app-modal [pokemon]="pokemon"></app-modal>

    </div>
  </div>
</div>
