<div class="container-fluid">
  <div class="row">
    <div class="col-10 offset-1 my-5">


    <!--cards-->
      <div class="row">
        <div class="col-sm-3 mt-2 col-12" *ngFor="let pokemon of pokemonList">
          <app-cards [name]="pokemon.name | titlecase"></app-cards>
        </div>
      </div>

    <!--paginator-->
      <div class="row mt-5">
        <div class="col-12">
          <app-paginator [currentPage]="currentPage" (pageChange)="pageChange($event)">
          </app-paginator>
        </div>
      </div>

    </div>
  </div>

</div>
